<div class="child-center">

  <div class="exo" id="contact-main-div" style="width: 600px;">
    <div class="contact-header">
        <h3>Get in <span class="theme-green">Touch</span></h3>
    </div>
    <span class="small-text">Thanks for visiting my site . Wanna send me smiley ? Go Ahead</span>
    <br /><br />
    <div id="name-box">
      What is your <span class="theme-green">Name</span> ?
      <br />
      <span class="blink"> </span> <input type="text" placeholder="press enter after typing your name"
        class="blank-input" id="username" />
      <br /><span class="small-text  text-danger name-error" style="display: none;">Looks like you misspelled your name
        .</span> <br />
    </div>

    <div id="email-box" style="display: none;">
      <br /> What is your <span class="theme-green">email</span> ?
      <br />
      <span class="blink"> </span> <input type="text" placeholder="press enter after typing your email"
        class="blank-input" id="useremail" />
      <br /><span class="small-text  text-danger email-error" style="display: none;">Hei ! Forgot your email?</span>
      <br />
    </div>
    <div id="message-box" style="display: none;">
      <br />What is in your mind ? <span class="theme-green">tell me</span>
      <br />
      <span class="blink"> </span> <textarea placeholder="type your message here" class="blank-input"
        id="usermessage"></textarea>
      <br /><span class="small-text  text-danger message-error" style="display: none;">Don't you wanna say more ?</span>
      <br />
    </div>
    <input type="button" style="display: none;" id="btn-submit" class="btn-secondary float-right" value="Submit" />
  </div>

</div>
